
/*.main .main-container .tables .pill-content .valuestandard thead tr {
  width: 100%;
  font-size: 0px; }*/
.main .main-container .tables .pill-content .valuestandard thead tr td {
  width: 100%;
  font-size: 14px;
  background-color: #0070c1;
  color: #ffffff;
  border-top: 1px solid #CCCCCC; }
/* .main .main-container .tables .pill-content .valuestandard thead tr td ul {
  width: 550px;
  margin-left: 20px; }
.main .main-container .tables .pill-content .valuestandard thead tr td ul li {
  list-style-type: square; } */
 .main .main-container .tables .pill-content .valuestandard thead tr td .caption {
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background-color: #0070c1; }
.main .main-container .tables .pill-content .valuestandard thead tr th {
  height: 40px;
  font-size: 14px;
  background-color: #a9e1ff; }
.main .main-container .tables .pill-content .valuestandard thead tr th p {
  text-align: center; }
 .main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(1) {
  width: 10%; }
.main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(2) {
  width: 18%; }
.main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(3) {
  width: 18%; }
.main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(4) {
  width: 18%; }
  .main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(5) {
  width: 18%; }
  .main .main-container .tables .pill-content .valuestandard thead tr th:nth-child(6) {
  width: 18%; 
}
/*.main .main-container .tables .pill-content .valuestandard tbody tr {
  width: 100%;
  font-size: 0; }*/
.main .main-container .tables .pill-content .valuestandard tbody tr td {
  position: relative;
  font-size: 12px; 
  text-align: left;
  /*vertical-align: top;*/
}
.main .main-container .tables .pill-content .valuestandard tbody tr td p {
  text-align: center;
  font-size: 14px;
  padding: 3%; } 
  * .main .main-container .tables .pill-content .valuestandard tbody tr td ul {
  margin: 2%; }

  .main .main-container .tables .pill-content .performance-comment tbody tr td:first-child {
  width: 18%;
  }

  .main .main-container .tables .pill-content .ability-analysis tr td:first-child {
  width: 18%;
  /*border-right: 1px solid #cccccc;*/
  background-color: #a9e1ff; }
